*.asv
*.m~
*.o
*.a
*.log
*.pyc
*.exe
*.bit
.DS_Store*
Thumbs.db
data/
data/*
cfg/
cfg/*
ATS-SDK/*
*.cfg
build/
build32/
build64/
dist/
JNCal_measure_gain_wrapper.m
FanoFactor_JNCal_AC_wrapper.m
DC_noise_vs_biasV_wrapper.m
# eclipse ignores
.cproject
.project
.pydevproject
*.prefs
Experiments/
Experiments/*